body{
	background:;
}
.text {
	background: #1A237E;
    position: absolute;
    top: 25%; 
    right: 60%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 12em;
    font-weight: 50;
    color: #FDD835;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

.facebook {
	position: absolute;
    top: 50%; 
    right: 80%;
}

.instagram {
	position: absolute;
    top: 50%; 
    right: 60%;
}

.tiktok {
	position: absolute;
    top: 50%; 
    right: 40%;
}

.whatsapp {
	position: absolute;
    top: 50%; 
    right: 20%;
}

.viber {
	position: absolute;
    top: 50%; 
    right: 5%;
}